.about {
  background-color: $color-bg;
  padding: 60px 0 80px 0;

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
  }

  &__item-right {
    padding-right: 80px;
  }

  &__item-left {
    padding-left: 80px;
  }

  &__item-text {
    position: relative;
    display: block;
    max-width: 448px;
    border: 2px solid $color-text;
    padding:15px;
    z-index: 2;
  }

  &__item-span {
    font-weight: 700;
    display: flex;
    margin-bottom: 5px;
  }

  &__item-comment::after, 
  &__item-comment::before,
  &__item-comment2::after, 
  &__item-comment2::before{
    content: '';
    position: absolute;
    transform: rotate(-45deg);
  }

  &__item-comment::before {
    content: '';
    bottom: -15px;
    right: 33px;
    border: 15px solid transparent;
    border-bottom: 15px solid #070707;
    border-left: 15px solid #070707;
    z-index: -1;
  }

  &__item-comment::after {
    content: '';
    bottom: -12px;
    right: 32px;
    border: 16px solid transparent;
    border-bottom: 16px solid #F6F6F6;
    border-left: 16px solid #F6F6F6;
    z-index: 1;
  }

  &__item-comment2::before {
    content: '';
    bottom: -15px;
    left: 33px;
    border: 15px solid transparent;
    border-bottom: 15px solid #070707;
    border-left: 15px solid #070707;
    z-index: -1;
  }

  &__item-comment2::after {
    content: '';
    bottom: -12px;
    left: 32px;
    border: 16px solid transparent;
    border-bottom: 16px solid #F6F6F6;
    border-left: 16px solid #F6F6F6;
    z-index: 1;
  }
}

@media screen and (max-width: 500px) {
  .about {
    padding: 40px 0 60px 0;

    &__list {
      margin-top: 30px;
    }

    &__item-right,
    &__item-left {
      padding: 0;
    }
  }
}