.header {
  position: sticky;
  font-weight: 700;
}

.nav {
  display: flex;
  padding: 33px 0 32px 0;
  justify-content: space-between;
  border-bottom: 1px solid #828282;

  &__list {
    display: flex;

    &_link {
      color: $color-text-2;
    }
  }

  &__button {
    background: none;
    font-weight: 700;
    color: $color-text-2;
  }
}

.nav__list_item:not(:last-child) {
  margin-right: 20px;
}

.nav__link:hover {
  color: $color-text-2;
  transition: 0.4s;
}

.nav__link:active {
  opacity: 0.3;
}

.nav__list_link:hover {
  color: $color-text;
  cursor: pointer;
  transition: 0.4s;
}

.nav__list_link:active {
  opacity: 0.3;
}

.nav__button:hover {
  color: $color-text;
  cursor: pointer;
  transition: 0.4s;
}

.nav__button:active {
  opacity: 0.3;
}