.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 250;
  align-items: center;
  justify-content: center;
  z-index: 5;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(246, 246, 246, 0.99);
    z-index: 100;
  }

  &__form {
    @include font (14px, 16px, 500);
    background: #FFFFFF;
    border: 2px solid #070707;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    box-sizing: border-box;
  }

  &__btn-close {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: -3px;
    margin-right: -39px;
    background: none;
    cursor: pointer;
    fill: #828282;
  }

  &__btn-close:hover {
    fill: #070707;
    transition: 0.3s;
  }

  &__input {
    border: 2px solid #E5E5E5;
    margin: 6px 0 20px;
    height: 44px;
    width: 98%;
  }

  &__input:hover {
    border: 2px solid #828282;
    cursor: pointer;
  }

  &__wrapp {
    display: inline-block;
    width: 100%;
  }

  &__wrapp-inner {
    display: flex;
    justify-content: space-between;
  }

  &__wrapp-content {
    width: 48%;
  }

  &__checkbox {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
  }

  &__checkbox:hover {
    color: #828282;
    cursor: pointer;
  }

  &__checkbox-custum {
    appearance: none;
    border: 2px solid #070707;
    min-width: 17px;
    min-height: 17px;
    border-radius: 3px;
    margin-right: 15px;
  }

  &__checkbox-custum:hover {
    border: 2px solid #828282;
    cursor: pointer;
  }

  &__checkbox-custum:checked {
    background-image: url(../img/icon/checked.png);
    background-position: center;
    cursor: pointer;
  }
}

.sign-in-modal {
  &__form {
    max-width: 370px;
    min-width: 240px;
  }


}


.register-modal {
  &__form {
    max-width: 680px;
    min-width: 600px;
  }

  // &__input {
  //   width: 592px;
  // }
}

.password-modal {
  &__form {
    min-width: 370px;
  }
}

.data-modal {
  &__form {
    max-width: 680px;
  }

  // &__input {
  //   width: 592px;
  // }

  &__wrapp-file {
    height: 73px;
    margin-bottom: 30px;
  }

  &__file-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }

  &__file-label {
    position: relative;
  }

  &__file-label:hover {
    cursor: pointer;

  }

  &__file-label::after {
    content: '';
    width: 258px;
    height: 18px;
    border: 2px solid #E5E5E5;
    position: absolute;
    left: 0;
    top: 23px;
    background-image: url(../../img/icon/fileUpload.svg);
    background-position: left;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding: 14px;
  }

  &__file-span {
    position: absolute;
    left: 14;
    left: 40px;
    top: 37px;
    width: 200px;
    @include font (18px, 21px, 400);
  }
}


.submit__modal:hover {
  border: 2px solid #828282;
  color: #828282;
  background-color: #FFFFFF;
}

@media screen and (max-width:750px) {
  .register-modal {
    &__form {
      min-width: 260px;
    }
  }

  .modal {

    &__form {
      padding: 80px 40px;
      height: 100vh;
      max-width: 100vw;
      width: 100vw;
      overflow: auto;
      border: none;
      top: 0;
      left: 0;
      transform: translate(0%, 0%);
      
    }

    &__wrapp-inner {
      flex-wrap: wrap;
    }

    &__wrapp-content {
      width: 100%;
    }

    &__btn-close {
      margin-top: 0px;
      top: 44px;
      right: 80px;
    }
  }
  
}

.response-close {
  top: 0;
  right: 0;
}
