.skills {
  padding: 60px 0;

  &__text {
    text-align: center;
    @include font (18px, 21px, 500);
    margin: 20px 0 50px 0;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
  }

  &__list-img {
    width: 180px;
    height: 168px;
  }
}

@media screen and (max-width: 1100px) {
  .skills {

    &__list {
      gap: 20px;
    }

    &__list-img {
      width: 147px;
    }
  }
} 

@media screen and (max-width: 500px) {
  .skills {
    padding: 40px 0 20px 0;

    &__text {
      margin: 10px 0 20px 0;
    }

    &__list-img {
      width: 130px;
    }
  }
} 