@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";


@import "_blocks/container";
@import "_blocks/header";
@import "_blocks/header_mobile";
@import "_blocks/banner";
@import "_blocks/about";
@import "_blocks/skills";
@import "_blocks/portfolio";
@import "_blocks/footer";
@import "_blocks/modal";
@import "_blocks/profile";
@import "_blocks/blog";
@import "_blocks/preloader";
@import "_blocks/card_blog";





@font-face { 
  font-family: 'Gilroy';
  font-style: normal;
  src: url("../fonts/Gilroy-Regular.woff") format("woff");
}

.title {
  @include font (47px, 57px, 700);
  margin: 0;
  padding: 0;
}

.heading {
  @include font (34px, 41px, 700);
  margin: 0;
  padding: 0;
  text-align: center;
  &__hidden {
    display: none;
  }
}

.button {
  border-radius: 30px;
  background: #FFFFFF;
  border: 2px solid #070707;
  padding: 10px 19px;
  @include font (18px, 22px, 700);
}

.button:hover {
  color: #FFFFFF;
  background: #070707;
  border: 2px solid #070707;
}

.button:disabled {
  color: $color-mercury;
  border: 2px solid $color-mercury;
}

.button-to-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 42px;
  width: 42px;
  border: 2px solid;
  border-color: #070707;
  border-radius: 100%;
  background-color: #FFFFFF;
  cursor: pointer;
}

.button-to-top svg {
  fill: #070707;
}

.button-to-top_hidden {
  display: none;
}

.invalid-feedback {
  @include font (14px, 16px, 400);
  color: #EB3617;
  margin: -10px 0 20px 0;
}

.is-invalid {
  border-color: #EB3617;
}

.valid-feedback {
  @include font (14px, 16px, 400);
  color: #03BC3C;
  margin: -10px 0 20px 0;
}

.is-valid {
  border-color: #03BC3C;
}

.swiper {
  width: 100%;
  height: 604px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #070707;
}



@media screen and (max-width:430px) {
  .button-to-top {
    bottom: 20px;
    right: 20px;
  }
}