<section class="password-modal password-modal_js modal hidden">
  <h2 class="heading__hidden">Sign in</h2>
  <div class="modal__overlay">
    <form class="modal__form password-modal__form password-modal__form_js" name="editPassword" action="#">
      <div class="modal__wrapp">
        <label for="input-password" class="password-modal__password-label">Old password <span  style="color:red"> *</span></label>
        <input type="password" id="input-password" name="oldPassword" class="modal__input password-modal__input">
        
        <label for="input-password" class="password-modal__password-label">New password <span  style="color:red"> *</span></label>
        <input type="password" id="input-password" name="newPassword" class="modal__input password-modal__input">

        <label for="input-password" class="password-modal__password-label">Repeat new password <span  style="color:red"> *</span></label>
        <input type="password" id="input-password" name="repeatPassword" class="modal__input password-modal__input">
        
        <button class="button submit__modal password__submit_js" name="submit" type="submit">Change password</button>
      </div>
      <button class="modal__btn-close password__close_js" type="button" name="button-close" value="close"><svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" />
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" />
        </svg>
      </button>
    </form>
    <div class="server-response password-response_js hidden">
      <p>Form has been sent successfully</p>
      <button class="modal__btn-close response-close password-response__close-btn_js" type="button" name="button-close" value="close"><svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" />
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" />
        </svg>
      </button>
    </div>
  </div> 
</section>