<footer class="footer">
  <div class="footer__wrapper container">
    <h2 class="heading">Contacts</h2>
    <p class="footer__text">Want to know more or just chat? You are welcome!</p>
    <button class="footer__button message_js" type="submit">Send message</button>
    <ul class="footer__list">
      <li class="footer__list-item"><a href="https://www.instagram.com/k_posashkova/" target="_blank" class="footer__list-link">Instagram</a></li>
      <li class="footer__list-item"><a href="https://vk.com/kris_posashkova" target="_blank" class="footer__list-link">Vk</a></li>
      <li class="footer__list-item"><a href="https://telegram.me/krisposashkova" target="_blank" class="footer__list-link">Telegram</a></li>
      <li class="footer__list-item"><a href="mailto:mail@kristina.posashkova@gmail.com" target="_blank" class="footer__list-link">Mail</a></li>
      <li class="footer__list-item"><a href="https://github.com/krisPosashkova" target="_blank" class="footer__list-link">GitHub</a></li>
      <li class="footer__list-item"><a href="tel:+79171662429" target="_blank" class="footer__list-link">Phone</a></li>
    </ul>
    <div class="footer__disign">
      <p class="footer__disign-text">Design by <a href="https://dlacademy.ru/" target="_blank" class="footer__disign-span">DL Academy</a></p>
      <p class="footer__disign-text">Program code from Kristina</p>
    </div>
  </div>
  @@include('blocks/message_modal.html')
  <script src="js/footer.js" defer></script>
</footer>