<footer class="footer">
  <section class="contacts">
    <h2 class="heading">Contacts</h2>
    <p class="contacts__text">Want to know more or just chat? You are welcome!</p>
    <button class="contacts__button message__js" type="submit">Send message</button>
    <ul class="contacts__list">
      <li class="contacts__list_item"><a href="" class="contacts__list_link">Instagram</a></li>
      <li class="contacts__list_item"><a href="" class="contacts__list_link">Vk</a></li>
      <li class="contacts__list_item"><a href="" class="contacts__list_link">Telegram</a></li>
      <li class="contacts__list_item"><a href="" class="contacts__list_link">Mail</a></li>
      <li class="contacts__list_item"><a href="" class="contacts__list_link">GitHub</a></li>
      <li class="contacts__list_item"><a href="" class="contacts__list_link">Phone</a></li>
    </ul>
    <div class="contacts__disign">
      <p class="contacts__disign_text">Design by DL Academy</p>
      <p class="contacts__disign_text">Program code from Antonina</p>
    </div>
  </section>
  <script src="js/footer.js" defer></script>
</footer>