<div class="header-mobile header-mobile_js">
  <div class="header-mobile__overlay">
    <button class="header-mobile__close-btn_js"><img class="header-mobile__close-btn" src="./img/icon/closeBtn.svg" alt=""></button>
    <nav class="header-mobile__nav">
      <ul class="header-mobile__nav-list">
        <li class="header-mobile__nav-item"><a class="header-mobile__nav-link nav__link" href="index.html">Home</a></li>
        <li class="header-mobile__nav-item"><a class="header-mobile__nav-link nav__link" href="">My blog</a></li>
        <li class="header-mobile__nav-item"><button class="nav__button sign-in-mobil_js">Sign in</button></li>
        <li class="header-mobile__nav-item"><button class="nav__button register-mobil_js">Register</button></li>
      </ul>
    </nav>
  </div>
</div>
