<section class="message-modal message-modal_js modal">
  <h2 class="heading__hidden">Send message</h2>
  <div class="modal__overlay">
    <form class="modal__form message-modal__form" name="sendMessage" action="#">
      <div class="modal__wrapp">
        <div class="modal__wrapp-inner">
          <div class="modal__wrapp-content">
            <label for="input-name" class="message-modal__name-label">What is your name? <span  style="color:red"> *</span></label>
            <input type="text" id="input-name" name="name" class="modal__input message-modal__input">
          </div>
          <div class="modal__wrapp-content">
            <label for="input-subject" class="message-modal__subject-label">Message subject <span  style="color:red"> *</span></label>
            <input type="text" id="input-subject" name="messageSubject" class="modal__input message-modal__input">
          </div>
        </div>
  
        <div class="modal__wrapp-inner">
          <div class="modal__wrapp-content">
            <label for="input-email" class="message-modal__email-label">Your Email <span  style="color:red"> *</span></label>
            <input type="text" id="input-email" name="email" class="modal__input message-modal__input">
          </div>
          <div class="modal__wrapp-content">
            <label for="input-phone" class="message-modal__phone-label">Your mobile phone <span  style="color:red"> *</span></label>
            <input type="tel" id="input-phone" name="phone" class="modal__input message-modal__input">
          </div>

        </div>
        
        <div class="message-modal__discuss">
          <label for="message" class="message-modal__discuss-label">What do you want to discuss with me?</label>
          <textarea class="message-modal__discuss-text" name="message" id="message" cols="30" rows="10"></textarea>
        </div>
        
        <label class="modal__checkbox" for="checkbox-yes">
          <input class="modal__checkbox-custum"  type="checkbox" id="checkbox-yes" name="checkbox">  
          Clicking on the button, you consent to the processing of your personal data.
        </label>
      
        <button class="button submit__modal message__submit_js" type="submit">Send</button>
        
      </div>
      <button class="modal__btn-close message__close_js" type="button" name="button" value="close"><svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" />
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" />
        </svg>
      </button>
    </form>
  </div>
</section>