<section class="register-modal register-modal_js modal hidden">
  <h2 class="heading__hidden">Register</h2>
  <div class="modal__overlay">
    <form class="modal__form register-modal__form register__form_js" id="registartion" name="registartion" action="#">
      <div class="modal__wrapp">
        <div class="register-modal__email">
          <label for="input-email" class="register-modal__email-label">Email <span  style="color:red"> *</span></label>
          <input type="text" id="input-email" name="email" class="modal__input register-modal__input">
        </div>
        
        <div class="modal__wrapp-inner">
          <div class="modal__wrapp-content">
            <label for="input-name" class="register-modal__name-label">Name <span  style="color:red"> *</span></label>
            <input type="text" id="input-name" name="name" class="modal__input">
          </div>
          <div class="modal__wrapp-content">
            <label for="input-surname" class="register-modal__surname-label">Surname <span  style="color:red"> *</span></label>
            <input name="surname" type="text" id="input-surname" name="surname" class="modal__input">
          </div>
        </div>
  
        <div class="modal__wrapp-inner">
          <div class="modal__wrapp-content">
            <label for="input-password" class="register-modal__password-label">Password <span  style="color:red"> *</span></label>
            <input type="password" id="input-password" name="password" class="modal__input">
          </div>
          <div class="modal__wrapp-content">
            <label for="input-password" class="register-modal__password-label">Repeat password <span  style="color:red"> *</span></label>
            <input type="password" id="input-password" name="repeatPassword" class="modal__input">
          </div>
        </div>
  
        <div class="modal__wrapp-inner">
          <div class="modal__wrapp-content">
            <label for="input-location" class="register-modal__location-label">Location <span  style="color:red"> *</span></label>
            <input type="text" id="input-location" name="location" class="modal__input">
          </div>
          <div class="modal__wrapp-content">
            <label for="input-age" class="register-modal__age-label">Age <span  style="color:red"> *</span></label>
            <input type="number" id="input-age" name="age" class="modal__input">
          </div>
        </div>
  
        <label class="modal__checkbox modal-checkbox_js" for="checkbox-yes">
          <input type="checkbox" id="checkbox-yes" name="checkbox" value="yes" class="modal__checkbox-custum">  
          Clicking on the button, you consent to the processing of your personal data.
        </label>
        <span class="checkbox-invalid register__checkbox-invalid_js">Agree to the processing of your personal information</span>
        <button class="button submit__modal register__submit_js" name="submit" type="submit">Sign up</button>
      </div>
      <button class="modal__btn-close register__close_js" type="button" name="button-close" value="close"><svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" />
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" />
        </svg>
      </button>
    </form>
    <div class="server-response register-response_js hidden">
      <p>Form has been sent successfully</p>
      <button class="modal__btn-close register-response__close-btn_js" type="button" name="button-close" value="close"><svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" />
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" />
        </svg>
      </button>
    </div>
  </div>
</section>