<section class="register-modal register-modal__js modal">
  <h2 class="heading__hidden">Register</h2>
  <div class="modal__overlay">
    <form class="modal__form register-modal__form register__form_js" name="registartion" action="#">
      <div class="modal__wrapp">
        <div class="register-modal__email">
          <label for="input-email" class="register-modal__email_label">Email <span  style="color:red"> *</span></label>
          <input name="email" type="email" id="input-email" required class="modal__input register-modal__input">
        </div>
        
        <div class="modal__wrapp_inner">
          <div class="modal__wrapp_content">
            <label for="input-name" class="register-modal__name_label">Name <span  style="color:red"> *</span></label>
            <input name="name" type="text" id="input-name" class="modal__input">
          </div>
          <div class="modal__wrapp_content">
            <label for="input-surname" class="register-modal__surname_label">Surname <span  style="color:red"> *</span></label>
            <input name="surname" type="text" id="input-surname" class="modal__input">
          </div>
        </div>
  
        <div class="modal__wrapp_inner">
          <div class="modal__wrapp_content">
            <label for="input-password" class="register-modal__password_label">Password <span  style="color:red"> *</span></label>
            <input name="password" type="password" id="input-password" required class="modal__input">
          </div>
          <div class="modal__wrapp_content">
            <label for="input-password" class="register-modal__password_label">Repeat password <span  style="color:red"> *</span></label>
            <input name="repeat_password" type="password" id="input-password" required class="modal__input">
          </div>
        </div>
  
        <div class="modal__wrapp_inner">
          <div class="modal__wrapp_content">
            <label for="input-location" class="register-modal__location_label">Location <span  style="color:red"> *</span></label>
            <input name="location" type="text" id="input-location" class="modal__input">
          </div>
          <div class="modal__wrapp_content">
            <label for="input-age" class="register-modal__age_label">Age <span  style="color:red"> *</span></label>
            <input name="age" type="number" id="input-age" class="modal__input">
          </div>
        </div>
  
        <label class="modal__checkbox" for="checkbox-yes">
          <input class="modal__checkbox_custum"  type="checkbox" id="checkbox-yes" name="checkbox_yes">  
          Clicking on the button, you consent to the processing of your personal data.
        </label>
  
        <button class="button submit__modal register__submit_js" type="submit">Sign up</button>
      </div>
      <button class="modal__btn-close register__close_js" type="button" name="button" value="close"><svg width="25" height="25" viewBox="0 0 25 25" fill="#828282" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" />
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" />
        </svg>
      </button>
    </form>
  </div>
</section>