<section class="sign-in-modal sign-in-modal_js modal hidden">
  <h2 class="heading__hidden">Sign in</h2>
  <div class="modal__overlay">
    <form class="modal__form sign-in-modal__form sign__form_js" name="signIn" action="#">
      <div class="modal__wrapp">
        <label for="input-email" class="sign-in-modal__email-label">Email <span  style="color:red"> *</span> </label>
        <input type="text" id="input-email" name="email" class="modal__input modal__input-email sign-in-modal__input">
        
        <label for="input-password" class="sign-in-modal__password-label">Password <span  style="color:red"> *</span></label>
        <input type="password" id="input-password" name="password" class="modal__input sign-in-modal__input">
        
        <button class="button submit__modal sign-in__submit_js" name="submit" type="submit">Log in</button>
      </div>
      <button class="modal__btn-close sign-in__close_js" type="button" name="button-close" value="close"><svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" />
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" />
        </svg>
      </button>
    </form>
    <div class="server-response sign-response_js hidden">
      <p>Form has been sent successfully</p>
      <button class="modal__btn-close response-close response-close sign-response__close-btn_js" type="button" name="button-close" value="close"><svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
        <rect x="2.82861" width="32" height="4" rx="2" transform="rotate(45 2.82861 0)" />
        <rect y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0 22.6289)" />
        </svg>
      </button>
    </div>
  </div> 
</section>